* {
  font-family: "Titillium Web", sans-serif;
}


:root {
  --bg-dark: #1c0339;
  --bg-medium: #3e0979;
  --bg-light: #6d3da3;
  --bg-lighter: #b083e2;
}

body {
  background: rgb(41, 7, 79);
  background: linear-gradient(155deg, var(--bg-dark) 7%, var(--bg-medium) 34%, var(--bg-light) 75%);
  background-repeat: no-repeat;
  min-height: 100vh;

}

.page_title{
  text-align: end;
  color: var(--bg-light);
  font-weight: 200;
  margin-top: 2rem;
  text-transform: uppercase;
}

.hr{
  height: 2px;
  background-color: #ffffff35;
  border-radius: 50px;
  margin-bottom: 0.5rem;
}

.myCard {
  font-family: "Quicksand", sans-serif;
  position: relative;
  padding-bottom: 50px;
  background-color: #ffffff21;
  background-image: var(--bs-gradient);
  color: #ffffffa7;
  border: 1px inset #ffffff55;

  .title_box {
    background-color: var(--bg-medium);
    background-image: var(--bs-gradient);
    height: 100px;
    color: #ffffffba;

    .card-title {
      font-weight: 100;
    }
  }

}

