$animationSpeed: 15s;

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


.slider {
	background: #ffffff17;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	margin: 2rem auto;
	overflow:hidden;
	position: relative;
	
	&::before,
	&::after {
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(200px * 20);
	}
	
	.slide {
		padding: 1rem;
		width: 250px;

		i{
			font-size: 6rem;
			
			span{
				font-size: 1rem;
				margin-left: 1rem;
			}
			color: var(--bg-dark);
		}
	}
	i:hover{
		scale: 1.2;
	}
}