.container {
    height: calc((100vh - 48px) - 82px);
}

.icons {
    font-size: 4rem;
    gap: 1rem;
    max-width: 6rem;
    margin-left: -5rem;
    margin-top: 2rem;

    >i {
        color: var(--bg-light);
    }

    ;

    >i:hover {
        scale: 1.4;
        color: #fff;
    }
}

.paginator-pp {
    .btn-light {
        color: #590441;
    }

}

.image_box {
    gap: 2rem;
}

.jumbo-pp-text {
    font-weight: 100;
    color: #ffffff;
    margin-bottom: 3rem;
}

img.jumbo-img {
    position: absolute;
    bottom: 0;
    right: 5%;
    z-index: 99;
    width: 30%;
    max-width: 690px;

}

.jumbotron {
    min-height: 640px;
    width: 80%;
    max-width: 1125px;



    .jumbo-title {
        font-size: 600%;
        font-weight: 900;
        color: #ffffff;
        /* width: 60%; */
    }

    .jumbo-title.second {
        margin-top: -3rem;
    }

}

.download_cv_box {
    filter: drop-shadow(0 0 1rem rgba(223, 10, 216, 0.788));
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    align-items: center;
    padding-top: 1rem;
    border-radius: 100%;
    background-color: rgb(176, 9, 176);
    width: 160px;
    aspect-ratio: 1;
    position: absolute;
    left: 35%;
    bottom: 10%;
    display: flex;
    opacity: 0.75;

    .download_cv {
        color: #fff;
        text-decoration: none;
        font-size: 2rem;
        margin-bottom: 0.75rem;

        i {
            font-size: 3rem;
        }
    }
}

.download_cv_box:hover {
    scale: 1.15;
    opacity: 1;
}

.arrow_box {
    z-index: 99;
}

#latest-projects {
    height: 1000px;
    width: 80%;
    margin: auto;
    background-color: var(--bg-dark);
    border-radius: 20px;
    padding: 2rem;
    z-index: 999;
}

a {
    text-decoration: none;
}

h6:hover {
    color: #fff;
}

.scroll-prompt-arrow-container {
    margin-top: 100%;
}

.all-my-works {
    margin-top: 3rem;
}

.typewrite {
    display: block;
    color: var(--bg-light);
    width: 100%;
    height: 150px;
    font-weight: 800;
}

.projectDuration {
    width: 90%;
    padding-bottom: 0.5rem;
}

.myCard {
    color: rgb(255, 255, 255);

    .card-body {
        position: sticky;
        bottom: -4rem;
        font-size: 1.5rem;
        padding: 3rem 2rem 2rem;
        background: rgb(109, 61, 163);
        background: linear-gradient(0deg, rgba(109, 61, 163, 1) 0%, rgba(109, 61, 163, 1) 23%, rgba(132, 91, 177, 0.9009978991596639) 47%, rgba(161, 129, 195, 0.7497373949579832) 83%, rgba(255, 255, 255, 0) 100%);

        .description p {
            margin-bottom: 3rem;
        }
    }
}


.card.all-my-works {
    align-items: center;
    width: 100%;
    margin: auto;
    position: relative;
    top: 30%;


    h1 {
        color: var(--bg-lighter);
        font-size: 5rem;
        display: inline-block;
        font-weight: 700
    }

    span {
        font-size: 7rem;
        font-weight: 600;
        margin-left: 1.5rem;
        color: var(--bg-light);
    }

    /* h1:hover {
        color: var(--bg-light);
        transition: transform 1.5s ease-out;
    } */


}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.goTop {
    width: 50px;
    aspect-ratio: 1;
    line-height: 2.2;
    text-align: center;
    border-radius: 100%;
    background-color: #fff;
    position: fixed;
    a{
        font-size: 1.5rem;
        font-weight: 700
    }
}